---
import Layout from "../layouts/Layout.astro";
import React from "../components/React";
import Solid from "../components/Solid";
---

<Layout title="Welcome to Astro.">
  <main>
    <React client:only="react" />
    <Solid client:only="solid-js" />
  </main>
</Layout>
